@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;1,400&display=swap');

@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('opentype');
}
/* font-family: 'Mulish', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Beyond' */



*{
    margin: 0;
    padding: 0;
}

/* Header section style */
.container{
    max-width: 1240px;
    margin: 0px auto;
}

header,
section {
    margin-top: 60px;
    margin-bottom: 100px;
}

/* Nav style */

Header h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    gap:16px;
    align-items: center;
}
.nav-right>ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}
.nav-right>ul a{
    text-decoration: none;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media screen and (min-width: 601px){
    .menubars{
        display: none;
    }
    
}

/* Banner section style */
.banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 110px 0px;
    border-radius: 16px;
    max-width: 1240px;
    height: 400px;
    margin: 50px auto;
    text-align: center;
}
.banner h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
    /* padding-top: 106px; */
}
.banner p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: 50px;
    margin-bottom: 90px;
    padding-left: 247px;
    padding-right: 247px;
}
.banner-form{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0 280px;
    padding: 16px 16px;
}
.banner input, select, button{
    background: #ffffff;
    border-radius: 8px;
    width: 174px;
    height: 48px;
    border: 0px;
}
.banner button{
    background: #ff5400;
    color: #ffffff;
    text-align: center;
}

/* Our tours section style */
.section-title{
    font-family: 'Open Sans', sans-serif;
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 25px;
}
.tour-3{
    padding: 0px 20px;
}
.tour-3 ul li{
    color: rgba(19, 19, 24, 0.70);
    text-align: left;
    margin-bottom: 20px;
    line-height: 18px;
    font-family: 'Mulish', sans-serif;

}
.our-tour{
    display: flex;
    justify-content: space-between;
    gap:20px
}
.btn-primary{
    background-color: #ff5400;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1.15rem;
    font-weight: 800;
    padding: 16px 35px;
    text-align: center;
    border: none;
    outline: none;
}
/* Your destination section style */
.destination-section{
    margin: 50px auto;
    text-align: center;
}
.destination-section h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
    font-family: 'Open Sans', sans-serif;
}

.destination-section>p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 24px;
    font-family: 'Mulish', sans-serif;
}
.destination-section .grid-img {
    display: grid;
    gap: 24px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.destination-section .grid-img p {
    padding-top: 132px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    font-family: 'Beyond'
}

.grid-item-1{
    background-image: url('../Images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    border-radius: 16px;
    grid-column: 1/span 10;
}
.grid-item-2{
    background-image: url('../Images/Rectangle\ 8.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    border-radius: 16px;
    grid-column: 11/span 10;
}
.grid-item-3{
    background-image: url('../Images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    border-radius: 16px;
    grid-column: 1/span 8;
}
.grid-item-4{
    background-image: url('../Images/Rectangle\ 7.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    border-radius: 16px;
    grid-column: 9/span 7;
}
.grid-item-5{
    background-image: url('../Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    border-radius: 16px;
    grid-column: 16/span 5;
}
.grid-item-6{
    background-image: url('../Images/Rectangle\ 10.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    border-radius: 16px;
    grid-column: 1/span 9;
}
.grid-item-7{
    background-image: url('../Images/Rectangle\ 11.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    border-radius: 16px;
    grid-column: 10/span 11;
}

/* Why Choose us section style */

.whyus-content{
    text-align: center;
    padding-bottom: 20px;
}
.whyus-content h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
    font-family: 'Open Sans', sans-serif;
}
.whyus-content>p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 24px;
    font-family: 'Mulish', sans-serif;
}

.box-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding-top: 32px;
    font-family: 'Mulish', sans-serif;
}

.box-content h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-top: 32px;
    font-family: 'Open Sans', sans-serif;
}
.box-content .box1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px 20px;

}

.box-content .box2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 20px 20px;
}

.box-content .box3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 20px 20px;
    transform: translateX(433px);

}

/* Perfect place section style */

.perfect-place{
    display: flex;
    gap:20px;
    justify-content: space-between;
    
}
video{
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}


/* Bonus blog section style */

.blog-content{
    text-align: center;
    padding-bottom: 20px;
}
.blog-content h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
    font-family: 'Open Sans', sans-serif;
}
.blog-content>p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 24px;
    font-family: 'Mulish', sans-serif;
}


.reviews {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.reviews img {
    width: 260px;
    height: 200px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.review1, .review2, .review3 {
    width: 300px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 16px;
}

.reviews h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Beyond';
}

.reviews p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    font-family: 'Mulish', sans-serif;
}

/* Newsletter section style */
.newsletter {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.news-form {
    padding: 30px;
    border: 1px solid #FF5400;
    border-radius: 1rem;
}

.news-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-form form input {
    padding: 16px;
    padding-right: 200px;
    border: none;
    outline: none;
    background: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
}

.news-form form p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 20px;
}

.news-form-button {
    background-color: #FF5400;
    border: none;
    outline: none;
    padding: 14px 0px;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    margin-bottom: 0px;
    margin-top: 20px;
    cursor: pointer;
}

.form-hr {
    height: 1px;
    width: 100%;
    background: #ddd;
}

.news-pix {
    background: url('../Images/newsletter.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
    background-size: cover;
    padding: 175px 350px;
    position: relative;
}
.news-batch {
    background: #FF5400;
    border-radius: 8px;
    padding: 30px;
    width: 170px;
    text-align: center;
    color: white;
    position: absolute;
    transform: rotate(-25deg);
    bottom: 57px;
    right: 7px;
}






/* Footer style */
footer{
    background: rgba(19, 19, 24, 0.05);
    padding: 110px 0px;
}
.footer-logo{
    display: flex;
    flex-direction: column;

}
.flogo-title{
    color: #131313;
    font-size: 2.10rem;
    font-weight: 800;
    display: flex;
    gap:10px;
    align-items: center;
}
.footer-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.section-description{
    color: rgba(19, 19, 24, 0.70);
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 24px;
    text-align: center;
}

.footer-link{
    display: flex;
    justify-content: center;
}
.footer-link ul{
    display: flex;
    gap: 24px;
}
.footer-link ul li{
    list-style: none;
}
.footer-link ul li a{
    text-decoration: none;
}
.footer-link ul li a>i{
    width: 24px;
    color: #131313;
}
.hr {
    background: #ddd;
    height: 1px;
    width: 70%;
    margin: 50px auto;
}

.copyright {
    color: #131318;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}